*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
a{
  display: inline-block;
}

/* =============================================================================================
                        Registration Part Start Here
============================================================================================= */
.reg_container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.reg_box{
  display: flex;
  align-items: center;
  column-gap: 60px;
  position: relative;
}
.reg_box1{
  display: flex;
  align-items: center;
  column-gap: 60px;
  position: relative;
}
 .reg_img{
  width: 540px;
  position: relative;
}
.regbirdtree {
  position: absolute;
  right: -300px;
  top: -115px;
  width: 100px;
  transition: all linear 0.4s;
  opacity: 0;
}
.regbirdtree1 {
  position: absolute;
  right: -300px;
  top: -78px;
  width: 100px;
  transition: all linear 0.4s;
  opacity: 0;
}
.regbirdtree img{
  width: 100%;
}
.regbirdtree1 img{
  width: 100%;
}
.reg_box h1{
  position: absolute;
  left: 20px;
  top: -65px;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #1976D2;
  z-index: 1;
}

.reg_box1 h1{
  position: absolute;
  left: 20px;
  top: -90px;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #1976D2;
  z-index: 1;
}
.reg_img img{
  width: 100%;
} 
.reg_form{
  width: 400px;
  border-radius:15px;
  position: relative;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 10px 60px 0px; */
  /* padding: 50px 40px 40px 40px; */
}
.reg_form:hover .regbirdtree{
  right: -10px;
  opacity: 1;
}
.reg_form:hover .regbirdtree1{
  right: -10px;
  opacity: 1;
}
.reg_form .MuiFormControl-root {
  width: 100%;
  margin-bottom: 40px;
}
.reg_form .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 10px;
}
.reg_form .css-sghohy-MuiButtonBase-root-MuiButton-root{
  width: 100%;
  border-radius: 10px;
  padding-top: 12px;
}
.reg_heading h2{
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #1976D2;
  text-align: center;
}
.reg_heading p{
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #808080;
  text-align: center;
}
.reg_signin{
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
}
.logo{
  width: 30px;
  margin: 0 auto 10px auto;
}
.logo img{
  width: 100%;
}
.reg_signin h4{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.reg_signin .reglogbtn1{
  color: #808080;
}
.reg_signin .reglogbtn{
  color: #1976D2;
  cursor: pointer;
}
/* .reg_form_container h3{

} */
/* =============================================================================================
                        Registration Part End Here
============================================================================================= */


/* =============================================================================================
                        RootLayout Part Start Here
============================================================================================= */
.home_container{
  height: 100vh;
  width: 100%;
  font-family: 'Inter', sans-serif;
}
.root_container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 16px 2px 25px 0px rgba(0,0,0,0.08);
-webkit-box-shadow: 16px 2px 25px 0px rgba(0,0,0,0.08);
-moz-box-shadow: 16px 2px 25px 0px rgba(0,0,0,0.08);
  /* background: rgb(255, 218, 218); */
}
.root_list{
  padding-left: 25px;
  padding-top: 20px;
}
.root_list h2{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 33px;
  color: #222222;
  cursor: pointer;
}
.root_list h2 span{
  color: #051481;

}
.root_list ul li div{
  display: flex ;
  align-items: center;
  column-gap: 6px;
}
.root_list ul li:hover{
  background:#32375C ;
}
.root_list ul li:hover h3{
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}
.root_list ul li:hover span svg{
  color: #fff;
}
.root_list ul li h3{
  color: #222222;
  font-size: 18px;
  font-weight: 400;
  transition: all linear 0.3s;
}
.root_list ul li span svg{
  font-size: 24px;
  color: #222222;
  transition: all linear 0.3s;
}
.root_list ul li{
  transition: all linear 0.3s;
  padding: 14px 32px 12px 12px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 14px;
}
.root_list ul li:last-child{
  margin-bottom: 0;
}
.profile_container{
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 12px;
  padding: 0 4px;
}
.profile_container .profile_setting_icon{
  font-size: 18px;
  cursor: pointer;
  
}
.profile_container .profile_img{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.profile_info h3{
  font-size: 16px;
  color: #32375C;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 2px;
}
.profile_info h4{
  font-size: 14px;
  color: #7A7A7A;
  font-weight: 400;
  cursor: pointer;
}
/* .profile_container .profile_info{

} */
/* .red{
  
} */
.root_pad .pad{
  padding: 20px 20px 50px 0;
  height: 100vh;
}
/* =============================================================================================
                        RootLayout Part End Here
============================================================================================= */

/* =============================================================================================
                        Group Part Start Here
============================================================================================= */
.home2_container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  font-family: 'Inter', sans-serif;
}
/* .white{
  background: #000;
  height: 100%;
  width: 100%;
} */
.home_item{
  width: 32.3%;
  height: 48.8%;
  background: #fff;
  box-shadow: 0 9px 30px 0px rgba(0,0,0,0.08);
  -webkit-box-shadow: 16px 2px 25px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 16px 2px 25px 0px rgba(0,0,0,0.08);
  border-radius: 10px;
  padding: 0 16px 16px 16px;
  overflow-y: scroll;

}
/* =============================================================================================
                        Group Part End Here
============================================================================================= */


/* =============================================================================================
                        My Group Part Start Here
============================================================================================= */
.item_heading_text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 0;
  background: #fff;
  z-index:99;
}
.sticky_fix{
  display: block;
  position: sticky;
  left: 0;
  top: 0;
}
.list_item_group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.list_item_group .img_text{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
}
.item_heading_text h2{
  font-size: 24px;
  font-weight: 600;
}
.item_heading_text span{
  font-size: 20px;
  cursor: pointer;
}
.group_image{
  width: 48px;
  height: 48px;
}
.group_image img{
  width: 100%;
  height: 100%;
}
.time_zone p{
  font-size: 14px;
  color: #7A7A7A;
  font-weight: 400;
  padding-right: 10px;
}
.item_name_text h3{
  margin-bottom: 3px;
  font-size: 18px;
  color: #222222;
  font-weight: 600;
  cursor: pointer;
}
.item_name_text h4{
  font-size: 14px;
  color: #7A7A7A;
  font-weight: 400;
}
.need_gap{
  margin-top: 8px;
}
.time_zone .btn1{
  border-radius: 5px;
  color: #32375C;
  background: none;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: all linear 0.3s;
  display: block;
}
.time_zone .btn3{
  border-radius: 5px;
  color: #32375C;
  background: none;
  border: none;
  padding: 5px 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: all linear 0.3s;
  display: block;
  margin-left: auto;
}
.time_zone .btn2{
  border-radius: 5px;
  color: #fff;
  background: #32375C;
  border: none;
  padding: 5px 13px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all linear 0.3s;
  display: block;
  margin-bottom: 4px;
}
.time_zone .btn1:hover{
  background: #32375C;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}
.time_zone .btn3:hover{
  background: #660202;
  color: #fff;
}
.jghgh{
  margin-right: 10px;
}
.time_zone .fgfgfg{
  cursor: pointer;
}
/* =============================================================================================
                        My Group Part End Here
============================================================================================= */